<launch>

    <param name="robot_description" textfile="$(find jaka_rviz)/urdf/jaka_zu3.urdf" />

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" />
    <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" />
    <node pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" name="joint_state_publisher_gui" />

    <node pkg="rviz" type="rviz" name="rviz" />

</launch>
